//
   Created with JetBrains WebStorm.
   User: Johnny
   Date: 2/05/13
   Time: 18:04
   To change this template use File | Settings | File Templates.

extends layout

block style
  style
    #cktl-container {
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }

    #cktl-img {
      text-align: center;
    }

block scripts
  script(src='/javascripts/frontend.js')
  script
    $(document).ready(function() {
      window.fbAsyncInit = function() {
          // init the FB JS SDK
          FB.init({
          appId      : '326614590799358',                        // App ID from the app dashboard
          channelUrl : '//sinatracockteleria.herokuapp.com', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
          });


          // Additional initialization code such as adding Event Listeners goes here
          FB.getLoginStatus(function(response) {
            if (response.authResponse) {
              fbUserId = response.authResponse.userID;
              token = response.authResponse.accessToken;

              cargarRatings('#{id_cocktail}', fbUserId);
            }
            else {
              FB.login(function(response) {
                if (response.authResponse) {
                  fbUserId = response.authResponse.userID;
                  token = response.authResponse.accessToken;

                  cargarRatings('#{id_cocktail}', fbUserId);
                }
                else {
                  console.log('User cancelled login or did not fully authorize.');
                  window.top.location = "https://www.facebook.com/dialog/oauth?client_id=326614590799358&redirect_uri=http://sinatracockteleria.herokuapp.com/#{id_cocktail}";
                }
              }, {scope: 'user_location'});
            }
          },true);
      };
      // Load the SDK asynchronously
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=326614590799358";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

      var id_cocktail = '#{id_cocktail}';
      cargarCocktail(id_cocktail);

      checkField($('#errors'));
      checkField($('#msgs'));

    });





block content
  #fb-root
  .container-fluid
    #cktl-container.well
      .progress.progress-striped.active
        #pb-bar.bar(style='width: 10%;')
      .row-fluid
        #cktl-img.hide.span4
        #cktl-info.hide.span8
            #info-container
            #ratings.hide(style='padding-top: 2em;')
              .fb-login-button(data-show-faces='true', data-width='200', data-max-rows='1')

      .row-fluid
        #errors.alert.alert-error.hide #{error}
        #msgs.alert.alert-info.hide #{msg}

  br
  #logo-play-store
    a(href='https://play.google.com/store/apps/details?id=com.claramanrique.sinatracockteleria')
      img(src='https://developer.android.com/images/brand/es_generic_rgb_wo_60.png', alt='Get it on Google Play')
    a(href='http://www.sinatracockteleria.com')
      img(src='/images/website/logo.jpg', alt='Sinatra Cockteleria', style='width: 7em; margin-left: 1em;')
